{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <title>PlotLy OffLine examples</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  {% endblock %}
</head>
<body>
  {% block content %}
  <!-- Content goes here -->

  {% endblock %}

  {% block tail %}
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  {% endblock %}


  <!-- 如果用户已登录,显示欢迎您。。。 -->
  {% if user.is_authenticated %}
  <div class='login_btn fl'>
    欢迎您：{{ user.username }}
      <a href="{% url 'logout' %}">退出</a>	<!-- 使用url反向解析 -->
  </div>
  <!-- 否则显示登录注册的链接 -->
  {% else %}
  <div class='login_btn fl'>
    <a href="{% url 'login' %}">登录</a>
    <a href="{% url 'register' %}">注册</a>
    {% endif %}
  </div>

</body>
</html>
