<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>龙净科杰积分测评展示系统</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <!--    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>-->
    <!--    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script src="../../static/js/plotly-latest.min.js"></script>
    <script src="../../static/js/d3.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">龙净科杰积分测评展示系统</a>
        </div>
        <div>
            <!--向右对齐-->
            <form class="navbar-form navbar-right" role="logout"
                  action="{% url 'logout' %}">
                <button type="submit" class="btn btn-default">
                    注销
                </button>
            </form>
            <form class="navbar-form navbar-right" role="chgpwd"
                  action="{% url 'chgpwd' %}">
                <button type="submit" class="btn btn-default">
                    修改密码
                </button>
            </form>
            <p class="navbar-text navbar-right">你好，{{user.username}}！ </p>
        </div>
    </div>
</nav>


<!--<div class="container">-->
<!--    <p class="lead">Here we go...</p>-->

<!--    <button type="button" class="btn btn-danger">危险</button>-->
<!--    <button type="button" class="btn btn-dark">黑色</button>-->
<!--    <button type="button" class="btn btn-light">浅色</button>-->
<!--    <button type="button" class="btn btn-link">链接</button>-->
<!--</div>-->


<!--<form method="post" action="{% url 'test' %}">-->


<!--    <label>选择日期<select name="select_month">-->
<!--        {% for dt in date_list %}-->
<!--        <option id="dt" value="{{ dt }}" {%if select_month%}selected{%endif%}>{{ dt }}</option>-->
<!--        {% endfor %}-->
<!--    </select></label>-->
<!--    {%if manager%}-->
<!--    <label>选择部门<select name="select_department">-->
<!--        {% for id,dp in departments %}-->
<!--        <option id="dp" value="{{ id }}" {%if select_department%}selected{%endif%}>{{ dp }}</option>-->
<!--        {% endfor %}-->
<!--    </select></label>-->

<!--    <label>选择评分组<select name="select_group">-->
<!--        <option value="干部评分" {%if select_group%}selected{%endif%}>干部评分</option>-->
<!--        <option value="员工评分" {%if select_group%}selected{%endif%}>员工评分</option>-->
<!--    </select></label>-->

<!--    {%endif%}-->
<!--    <input type="submit" value="提交"/>-->

<!--    {% csrf_token %}-->
<!--</form>-->

<div class="container">
    <div class="row">
        <div class="form-group">
            <form method="post" action="{% url 'charts' %}">

                <label>选择日期<select class="form-control"  name="select_month">
                    {% for dt in date_list %}
                    <option id="dt" value="{{ dt }}" {%if select_month == dt%} selected {%endif%}>{{ dt }}</option>
                    {% endfor %}
                </select></label>

                {%if is_manager%}
                <label>选择部门<select class="form-control" name="select_department">
                    <option value="" {%if not select_department %} selected {%endif%}></option>
                    {% for id,dp in department_list %}
                    <option value="{{ id }}" {%if select_department == id%} selected {%endif%}>{{ dp }}</option>
                    {% endfor %}
                </select></label>

                <label>选择评分组<select class="form-control" name="select_group">
                    <option value=6 {%if select_group == 6 %}selected{%endif%}>干部评分</option>
                    <option value=7 {%if select_group == 7 %}selected{%endif%}>员工评分</option>
                </select></label>

                {%endif%}
                <input type="submit" value="提交"/>

                {% csrf_token %}
            </form>
        </div>
        <!--        {%if manager %}-->
        <!--        <a class="btn btn-default" href="{% url 'manager' %}" role="button">干部评分</a>-->
        <!--        <a class="btn btn-default" href="{% url 'employee' %}" role="button">员工评分</a>-->
        <!--        {% endif %}-->
        <!--    {# <div id="plot_container" class="col-md-8 col-md-offset-2">{{plot|safe}}</div>#}-->
        <!--{#    <div class="col-md-12">{{plot|safe}}</div>#}-->
        <div class="col-md-12">
            <div class="chart" id="bargraph">
                <script>
                var graphs = {{plot | safe}};
                Plotly.plot('bargraph',graphs,{});



                </script>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {%if table %}
        {{table|safe}}
        {% endif %}
    </div>
</div>

<!--{% if messages %}-->
<!--<script>-->
<!--    {% for msg in messages %}-->
<!--        alert('{{ msg.message }}');-->
<!--    {% endfor %}-->
<!--</script>-->
<!--{% endif %}-->


<script src="../../static/js/jquery-1.11.1.min.js"></script>
<script src="../../static/js/plots.js"></script>

</body>
</html>
