<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>龙净科杰积分测评展示系统</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">龙净科杰积分测评展示系统</a>
        </div>
        <div>
            <!--向右对齐-->
            <form class="navbar-form navbar-right" role="logout">
                <button type="submit" class="btn btn-default">
                    注销
                </button>
            </form>
            <form class="navbar-form navbar-right" role="chgpwd">
                <button type="submit" class="btn btn-default">
                    修改密码
                </button>
            </form>
            <p class="navbar-text navbar-right">你好，张三！   </p>
        </div>
    </div>
</nav>



</body>
</html>