{% extends "base.html" %}

{% block head %}
{{block.super}}
{#<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>#}
    <script src="../../static/js/plotly-latest.min.js"></script>
    <script src="../../static/js/d3.min.js"></script>
{% endblock %}

{% block content %}

<div class="container">
  <h1>Plot using Plot.ly</h1>
  <p class="lead">Here we go...</p>
</div>
<!-- /.container -->

<div class="container">
  <div class="row" >
        <form action="{% url 'stuff' %}" method="post">
        {% csrf_token %}
		姓名：
        <input type="username" name="username" class="username" placeholder="姓名">
        {% if error %}
        <p style="color: #000;">{{ error }}</p>
        {% endif %}
        <button type="submit">提交</button>
{#        <div class="error"><span>+</span></div>#}
    </form>
  </div>
</div>

<div class="container">
  <div class="row">
    {# <div id="plot_container" class="col-md-8 col-md-offset-2">{{plot|safe}}</div>#}
{#    <div class="col-md-12">{{plot|safe}}</div>#}
   <div class="col-md-6">
        <div class="chart" id="bargraph">
            <script>
                var graphs = {{plot | safe}};
                Plotly.plot('bargraph',graphs,{});
            </script>
        </div>
    </div>
  </div>
</div>
<!-- /.container -->


<div class="container">
  <p>
    &nbsp;
  </p>
  <a class="btn btn-primary pull-right" href="{% url 'index' %}"> Go back to index...</a>
</div>


{#<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>#}
<script src="../../static/js/jquery-1.11.1.min.js"></script>
<script src="../../static/js/plots.js"></script>
{#    <script type="text/javascript" src="../static/javascript/medicine.js"></script>#}

{% endblock %}
