<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start From Here</title>
</head>
<body>
<div class="connect">
    <p>
        <a class="facebook" href="{% url 'test_login' %}">登录</a>
    </p>
    <p>
        <a class="facebook" href="{% url 'test_register' %}">注册</a>
    </p>
    <p>
        <a class="facebook" href="{% url 'test_register_admin' %}">管理员注册</a>
    </p>
    <p>
    <a class="facebook" href="{% url 'test_logout' %}">退出</a>
    </p>
    <p>
    <a class="facebook" href="{% url 'test_login_view' %}">登录访问页面</a>
    </p>
    <p>
    <a class="facebook" href="{% url 'test_permission_view' %}">有权限的页面</a>
    </p>
</div>

</body>
</html>