<div class="page-container">
    <h1>Login</h1>
    {% if register %}
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" class="username" placeholder="Username">
        <input type="password" name="password" class="password" placeholder="Password">
        <button type="submit">注册</button>
        <div class="error"><span>+</span></div>
    </form>
    {% elif admin%}
    <form action="{% url 'create_admin' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" class="username" placeholder="Username">
        <input type="password" name="password" class="password" placeholder="Password">
        <button type="submit">管理员注册</button>
        <div class="error"><span>+</span></div>
    </form>
    {% elif login %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" class="username" placeholder="Username">
        <input type="password" name="password" class="password" placeholder="Password">
        {% if error %}
        <p style="color: #000;">{{ error }}</p>
        {% endif %}
        <button type="submit">登录</button>
        <div class="error"><span>+</span></div>
    </form>
    {% elif change %}
    <form action="{% url 'change' %}" method="post">
        {% csrf_token %}
        <input type="password" name="password" class="password" placeholder="Password">
        {% if error %}
        <p style="color: #000;">{{ error }}</p>
        {% endif %}
        <button type="submit">提交</button>
        <div class="error"><span>+</span></div>
    </form>
    {% endif %}

    <div class="connect">
        <p>
            <a class="facebook" href="{% url 'status' %}">check your status</a>
        </p>
    </div>
</div>